<nav class="navbar navbar-light bg-faded" (mouseleave)="showSubmenu('')">
    <a class="navbar-brand" [routerLink]="['Home']">{{ title }}</a>
    <ul class="nav navbar-nav">
        <li class="nav-item" *ngFor="#link of menu" [class.active]="router.isRouteActive(router.generate([link.url]))" [class.dropdown]="link.submenu">
            <a class="nav-link" [routerLink]="[link.url]" [class.dropdown-toggle]="link.submenu" (mouseover)="showSubmenu(link)">{{ link.title }}</a>
            <dropdown [class.open]="link.submenu && menu_over.submenu" [links]="link.submenu" (click)="showSubmenu('')"></dropdown>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>