<div class="p-t">
    <div class="page-header">
        <h1>{{title}}</h1>

        <p>{{home_subtitle}}</p>
    </div>
    <div class="row" *ngIf="single_ships.length > 0">
        <h2>{{single_ship_title}}</h2>
        <div class="card-group">
            <ship *ngFor="#ship of single_ships" [ship]="ship"></ship>
        </div>
    </div>
    <div class="row" *ngIf="double_ships.length > 0">
        <h2>{{double_ship_title}}</h2>
        <div class="card-group">
            <ship *ngFor="#ship of double_ships" [ship]="ship"></ship>
        </div>
    </div>
    <div class="row" *ngIf="capital_ships.length > 0">
        <h2>{{capital_ship_title}}</h2>
        <div class="card-group">
            <ship *ngFor="#ship of capital_ships" [ship]="ship"></ship>
        </div>
    </div>
</div>
