<div class="jumbotron jumbotron-fluid" *ngIf="ship">
    <div class="container">
        <h1 class="display-3">{{ship.model}}</h1>

        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="{{ship.image}}">
            </div>
            <div class="col-md-8">
                <span *ngFor="#focus of ship.focus; #i=index">
                    <span *ngIf="i">|</span>
                    {{ focus.name }}
                </span>
                <hr class="m-y-2">
                <p>{{ship.description}}</p>
                <ul>
                    <li><label>Max crew:</label> {{ship.max_crew}}</li>
                    <li><label>Cargo capacity:</label> {{ship.cargo_capacity}}</li>
                </ul>
            </div>
        </div>
        <hr class="m-y-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" (click)="goBack()" role="button">Volver</a>
            <a class="btn btn-primary btn-lg" (click)="goToManufacturer(ship.manufacturer)" role="button">Fabricante</a>
        </p>
    </div>
</div>